@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <input id="text" type="text" />
        <input type="button" value="Search" onclick="search();" />
    </form>
</div>
<script>
    var search = function () {
        var search = document.getElementById('text');
        window.location = "/Search?text=" + search.value;
    }
</script>
